<%- include('./common/header.ejs') %>

<title>회사소개 - 에스피원소프트</title>
<div class="sp1TopContents">
	<div class="sp1Top">
		<div class="sp1Top_sub">
			<div class="sp1Top_sub2">
				<div class="sp1Top_sub3">
					<div class="sp1Top_sub4">
						<div class="sp1Top_sub5">
							<div class="sp1Top_sub6">
								<div class="sp1Top_sub7">
									<div class="sp1Top_sub8">
										<div class="sp1Top_sub9">
											<div class="sp1Top_sub10">
												<div class="sp1Top_sub11">
													<div class="sp1Top_sub12">
														<div class="sp1Top_sub13">
															<div class="sp1Top_sub14">
																<div class="sp1Top_sub15">
																	<div class="sp1Top_sub15">
																		<div class="sp1Top_sub16">
																			<div class="sp1Top_sub17">
																				<h1>회사소개</h1>
																			</div>												
																		</div>
																		<div class="sp1Top_sub18">
																			<div class="sp1Top_sub19">
																				<div class="sp1Top_sub20">
																					<div class="sp1Top_sub21">
																						<div class="sp1Top_sub22">
																							<div class="sp1Top_sub23">
																								<div class="sp1Top_sub24">
																									<a href="/" class="sub24_Link">에스피원소프트</a>																				
																								</div>	
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/" class="sub24_Link">회사소개</a>																				
																								</div>																			
																							</div>																					
																						</div>	
																					</div>																					
																				</div>																					
																			</div>												
																		</div>																															
																	</div>													
																</div>												
															</div>												
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="blankContents">
	<div class="blankContents_sub">
		<div class="blankContents_sub2">
			<div class="blankContents_sub3">
				<div class="blankContents_sub4">
					<div class="blankContents_sub5">
						<div class="blankContents_sub6">
							<div class="blankContents_sub7">
								<div class="blankContents_sub8">
									<div class="blankContents_sub9">
									</div>	
								</div>	
							</div>	
						</div>	
					</div>	
				</div>	
			</div>	
		</div>	
	</div>	
</div>

<div class="sp1Company">
	<div class="sp1Company_sub">
		<div class="sp1Company_sub2">
			<div class="sp1Company_sub3">
				<div class="sp1Company_sub4">
					<div class="sp1Company_sub5">
						<div class="sp1Company_sub6">
							<div class="sp1Company_sub7">
								<div class="sp1Company_sub8">
									<div class="sp1Company_sub9">
										<div class="sp1Company_sub10">
											<div class="sp1Company_sub11">
												<div class="sp1Company_sub12">
													<div class="sp1Company_sub13">
														<div class="sp1Company_sub14">
															<div class="sp1Company_sub15">
																<div class="sp1Company_sub16">
																	<div class="sp1Company_sub17_sub1">
																		<div class="sp1Company_sub17_sub1_sub">
																			<h2>특화된 IT 기술력으로</h2>
																		</div>
																	</div>
																	<div class="sp1Company_sub17_sub2">
																		<div class="sp1Company_sub17_sub2_sub">
																			<h2>금융솔루션을
																				<br class="tablet-enter" style="padding : 50px;">
																				<br class="mobile-enter">
																				더 쉽게, 더 빠르게
																			</h2>
																		</div>
																	</div>
																	<div class="sp1Company_sub17_sub3">
																		<div class="sp1Company_sub17_sub3_sub">
																			<div class="sp1Company_sub17_sub3_sub2">
																				<img src="/images/1_line2.jpg">
																			</div>
																		</div>
																	</div>
																	<div class="sp1Company_sub17_sub4">
																		<div class="sp1Company_sub17_sub4_sub">
																			<h2>2017년 설립된 (주)에스피원소프트는
																				<br class="mobile-enter">
																				금융권 모바일 플랫폼/서비스 기반의
																				<br class="mobile-enter">
																				시스템 구축을 기반으로
																				<br class="desktop-enter">
																				<br class="tablet-enter">
																				다양한 원천기술을
																				<br class="mobile-enter">
																				확보하며, 우수한 기술과 도전정신을
																				<br class="mobile-enter">
																				바탕으로 새로운 시장을 개척해 왔습니다.
																			</h2>
																		</div>
																	</div>
																	<div class="sp1Company_sub17_sub5">
																		<div class="sp1Company_sub17_sub5_sub">
																			<div class="sp1Company_sub17_sub5_sub2">
																				<div class="sp1Company_sub17_sub5_sub3">
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Company_sub17_sub6">
																		<div class="sp1Company_sub17_sub6_sub">
																			<h2>Vision</h2>
																		</div>
																	</div>
																	<div class="sp1Company_sub17_sub7">
																		<div class="sp1Company_sub17_sub7_sub">
																			<h2>Be the 
																				<br class="mobile-enter">
																				Special One
																				<br class="desktop-enter">
																				<br class="tablet-enter">
																				<br class="mobile-enter">																					
																				in your field
																			</h2>
																		</div>
																	</div>
																	<div class="sp1Company_sub17_sub8">
																		<div class="sp1Company_sub17_sub8_sub">
																			<div class="sp1Company_sub17_sub8_sub2">
																				<img src="/images/company_Introduce.jpg">
																			</div>
																		</div>
																	</div>
																	<div class="sp1Company_sub17_sub9">
																		<div class="sp1Company_sub17_sub9_sub">
																			<h2>(주)에스피원소프트는 국내 최고의
																				<br class="mobile-enter">
																				IT 기술 회사를 지향하며,
																				<br class="desktop-enter">
																				<br class="tablet-enter">
																				맡은 분야에서
																				<br class="mobile-enter">
																				최고의 하나가 되는 것을 목표로 합니다.
																			</h2>
																		</div>
																	</div>
																</div>															
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="sp1Company_History">
												<div class="sp1Company_History_sub">
													<div class="sp1Company_History_sub2">
														<div class="sp1Company_History_sub3">
															<div class="sp1Company_History_sub4">
																<div class="sp1Company_History_sub5">
																	<div class="sp1Company_History_Head">
																		<div class="sp1Company_History_Head_sub">
																			<h2>History</h2>
																		</div>
																	</div>
																	<div class="sp1Company_History_Year">
																		<div class="sp1Company_History_Year_sub">
																			<div class="sp1Company_History_Year_sub2">
																				<div class="sp1Company_History_Year_sub3">
																					<div class="sp1Company_YearBar" style="top: 28.5px; bottom: 58.5px;">
																						<div class="sp1Company_YearBar_Red" id="sp1Company_YearBar_Red" style="height: 0%;">																					
																						</div>
																					</div>
																					<div class="sp1Company_Year">
																						<div class="sp1Company_Year_sub">
																							<div class="sp1Company_Year_sub2">
																								<div class="sp1Company_Year_sub3">
																									<div class="sp1Company_Year_sub4">
																										<div class="sp1Company_Year_sub5">
																											<div class="sp1Company_Year_sub6">																							
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_Year_Icon">
																								<div class="sp1Company_Year_Icon_sub" id="circle2022">
																									<span>
																										<i aria-hidden="true" class="fas fa-circle"></i>
																									</span>
																								</div>
																							</div>
																							<div class="sp1Company_Year_Number">
																								<div class="sp1Company_Year_Number_sub" id="number2022">
																									2022
																								</div>
																							</div>
																						</div>
																						<div class="sp1Company_Year_sub reverseClass" style="margin-top: 200px;">
																							<div class="sp1Company_Year_sub2">
																								<div class="sp1Company_Year_sub3">
																									<div class="sp1Company_Year_sub4">
																										<div class="sp1Company_Year_sub5">
																											<div class="sp1Company_Year_sub6">																							
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_Year_Icon">
																								<div class="sp1Company_Year_Icon_sub" id="circle2021">
																									<span>
																										<i aria-hidden="true" class="fas fa-circle"></i>
																									</span>
																								</div>
																							</div>
																							<div class="sp1Company_Year_Number" style="text-align: right;">
																								<div class="sp1Company_Year_Number_sub" id="number2021">
																									2021
																								</div>
																							</div>
																						</div>
																						<div class="sp1Company_Year_sub" style="margin-top: 200px;">
																							<div class="sp1Company_Year_sub2">
																								<div class="sp1Company_Year_sub3">
																									<div class="sp1Company_Year_sub4">
																										<div class="sp1Company_Year_sub5">
																											<div class="sp1Company_Year_sub6">																							
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_Year_Icon">
																								<div class="sp1Company_Year_Icon_sub" id="circle2020">
																									<span>
																										<i aria-hidden="true" class="fas fa-circle"></i>
																									</span>
																								</div>
																							</div>
																							<div class="sp1Company_Year_Number">
																								<div class="sp1Company_Year_Number_sub" id="number2020">
																									2020
																								</div>
																							</div>
																						</div>
																						<div class="sp1Company_Year_sub reverseClass" style="margin-top: 200px;">
																							<div class="sp1Company_Year_sub2">
																								<div class="sp1Company_Year_sub3">
																									<div class="sp1Company_Year_sub4">
																										<div class="sp1Company_Year_sub5">
																											<div class="sp1Company_Year_sub6">																							
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_Year_Icon">
																								<div class="sp1Company_Year_Icon_sub" id="circle2019">
																									<span>
																										<i aria-hidden="true" class="fas fa-circle"></i>
																									</span>
																								</div>
																							</div>
																							<div class="sp1Company_Year_Number" style="text-align: right;">
																								<div class="sp1Company_Year_Number_sub" id="number2019">
																									2019
																								</div>
																							</div>
																						</div>
																						<div class="sp1Company_Year_sub" style="margin-top: 200px;">
																							<div class="sp1Company_Year_sub2">
																								<div class="sp1Company_Year_sub3">
																									<div class="sp1Company_Year_sub4">
																										<div class="sp1Company_Year_sub5">
																											<div class="sp1Company_Year_sub6">																							
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_Year_Icon">
																								<div class="sp1Company_Year_Icon_sub" id="circle2018">
																									<span>
																										<i aria-hidden="true" class="fas fa-circle"></i>
																									</span>
																								</div>
																							</div>
																							<div class="sp1Company_Year_Number">
																								<div class="sp1Company_Year_Number_sub" id="number2018">
																									2018
																								</div>
																							</div>
																						</div>
																						<div class="sp1Company_Year_sub reverseClass" style="margin-top: 200px;">
																							<div class="sp1Company_Year_sub2">
																								<div class="sp1Company_Year_sub3">
																									<div class="sp1Company_Year_sub4">
																										<div class="sp1Company_Year_sub5">
																											<div class="sp1Company_Year_sub6">																							
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_Year_Icon">
																								<div class="sp1Company_Year_Icon_sub" id="circle2017">
																									<span>
																										<i aria-hidden="true" class="fas fa-circle"></i>
																									</span>
																								</div>
																							</div>
																							<div class="sp1Company_Year_Number" style="text-align: right;">
																								<div class="sp1Company_Year_Number_sub" id="number2017">
																									2017
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Company_History_contents" style="margin-top: -1462;">
																		<div class="sp1Company_History_contents_sub">
																			<div class="sp1Company_History_contents_sub2">
																				<div class="sp1Company_contents_column_left">
																					<div class="sp1Company_contents_column_left_sub">
																						<div class="sp1Company_contents_column_left_sub2">																					
																						</div>
																					</div>
																				</div>
																				<div class="sp1Company_contents_column_right">
																					<div class="sp1Company_contents_column_right_sub">
																						<div class="sp1Company_contents_column_right_sub2">
																							<div class="sp1Company_contents_column_right_sub3">
																								<div class="sp1Company_contents_column_right_sub4">
																									<div class="sp1Company_contents_column_right_sub5">	
																										<span></span>																						
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_right_txtTitle">
																								<div class="sp1Company_contents_column_right_title">
																									<H2>2022.02</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_right_txtContents">
																								<div class="sp1Company_contents_column_right_contents">
																									<H2>광주은행 디지털전략 Biz모델 대응개발</H2>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Company_History_contents" style="margin-top: -1176;">
																		<div class="sp1Company_History_contents_sub">
																			<div class="sp1Company_History_contents_sub2">
																				<div class="sp1Company_contents_column_left_reverse">
																					<div class="sp1Company_contents_column_left_reverse_sub">
																						<div class="sp1Company_contents_column_left_reverse_sub2">
																							<div class="sp1Company_contents_column_left_reverse_sub3">
																								<div class="sp1Company_contents_column_left_reverse_sub4">
																									<div class="sp1Company_contents_column_left_reverse_sub5">	
																										<span></span>																						
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_left_reverse_txtTitle">
																								<div class="sp1Company_contents_column_left_reverse_title">
																									<H2>2021.07</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_left_reverse_txtContents">
																								<div class="sp1Company_contents_column_left_reverse_contents" style="margin-bottom: 20px;">
																									<H2>하나손해보험 차세대 보험업무시스템 구축</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_left_reverse_txtTitle">
																								<div class="sp1Company_contents_column_left_reverse_title" style="margin: 0px;">
																									<H2>2021.07</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_left_reverse_txtContents">
																								<div class="sp1Company_contents_column_left_reverse_contents" style="margin-bottom: 20px;">
																									<H2>하나손해보험 원사인 연동개발</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_left_reverse_txtTitle">
																								<div class="sp1Company_contents_column_left_reverse_title" style="margin: 0px;">
																									<H2>2021.01</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_left_reverse_txtContents">
																								<div class="sp1Company_contents_column_left_reverse_contents">
																									<H2>광주은행 스마트뱅킹 시스템 구축</H2>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Company_contents_column_right_reverse">
																					<div class="sp1Company_contents_column_left_sub">
																						<div class="sp1Company_contents_column_left_sub2">																					
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Company_History_contents" style="margin-top: -892;">
																		<div class="sp1Company_History_contents_sub">
																			<div class="sp1Company_History_contents_sub2">
																				<div class="sp1Company_contents_column_left">
																					<div class="sp1Company_contents_column_left_sub">
																						<div class="sp1Company_contents_column_left_sub2">																					
																						</div>
																					</div>
																				</div>
																				<div class="sp1Company_contents_column_right">
																					<div class="sp1Company_contents_column_right_sub">
																						<div class="sp1Company_contents_column_right_sub2">
																							<div class="sp1Company_contents_column_right_sub3">
																								<div class="sp1Company_contents_column_right_sub4">
																									<div class="sp1Company_contents_column_right_sub5">	
																										<span></span>																						
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_right_txtTitle">
																								<div class="sp1Company_contents_column_right_title">
																									<H2>2020.05</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_right_txtContents">
																								<div class="sp1Company_contents_column_right_contents" style="margin-bottom: 20px;">
																									<H2>광주은행 스마트뱅킹 확대 구축</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_right_txtTitle">
																								<div class="sp1Company_contents_column_right_title" style="margin: 0px;">
																									<H2>2020.02</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_right_txtContents">
																								<div class="sp1Company_contents_column_right_contents" style="margin-bottom: 20px;">
																									<H2>OK저축은행 모바일뱅킹 구축</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_right_txtTitle">
																								<div class="sp1Company_contents_column_right_title" style="margin: 0px;">
																									<H2>2020.01</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_right_txtContents">
																								<div class="sp1Company_contents_column_right_contents">
																									<H2>흥국화재 대표홈페이지 간편인증 서비스 구축</H2>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>																
																	<div class="sp1Company_History_contents" style="margin-top: -608;">
																		<div class="sp1Company_History_contents_sub">
																			<div class="sp1Company_History_contents_sub2">
																				<div class="sp1Company_contents_column_left_reverse">
																					<div class="sp1Company_contents_column_left_reverse_sub">
																						<div class="sp1Company_contents_column_left_reverse_sub2">
																							<div class="sp1Company_contents_column_left_reverse_sub3">
																								<div class="sp1Company_contents_column_left_reverse_sub4">
																									<div class="sp1Company_contents_column_left_reverse_sub5">	
																										<span></span>																						
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_left_reverse_txtTitle">
																								<div class="sp1Company_contents_column_left_reverse_title">
																									<H2>2019.08</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_left_reverse_txtContents">
																								<div class="sp1Company_contents_column_left_reverse_contents" style="margin-bottom: 20px;">
																									<H2>광주은행 모바일(앱/웹) 접근성 준수 및 Design 개편</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_left_reverse_txtTitle">
																								<div class="sp1Company_contents_column_left_reverse_title" style="margin: 0px;">
																									<H2>2019.04</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_left_reverse_txtContents">
																								<div class="sp1Company_contents_column_left_reverse_contents" style="margin-bottom: 20px;">
																									<H2>AXA손해보험 현장출동 관제시스템 구축</H2>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Company_contents_column_right_reverse">
																					<div class="sp1Company_contents_column_left_sub">
																						<div class="sp1Company_contents_column_left_sub2">																					
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Company_History_contents" style="margin-top: -324;">
																		<div class="sp1Company_History_contents_sub">
																			<div class="sp1Company_History_contents_sub2">
																				<div class="sp1Company_contents_column_left">
																					<div class="sp1Company_contents_column_left_sub">
																						<div class="sp1Company_contents_column_left_sub2">																					
																						</div>
																					</div>
																				</div>
																				<div class="sp1Company_contents_column_right">
																					<div class="sp1Company_contents_column_right_sub">
																						<div class="sp1Company_contents_column_right_sub2">
																							<div class="sp1Company_contents_column_right_sub3">
																								<div class="sp1Company_contents_column_right_sub4">
																									<div class="sp1Company_contents_column_right_sub5">	
																										<span></span>																						
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_right_txtTitle">
																								<div class="sp1Company_contents_column_right_title">
																									<H2>2018.06</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_right_txtContents">
																								<div class="sp1Company_contents_column_right_contents" style="margin-bottom: 20px;">
																									<H2>더케이손해보험 웹/모바일 홈페이지 재구축</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_right_txtTitle">
																								<div class="sp1Company_contents_column_right_title" style="margin: 0px;">
																									<H2>2018.04</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_right_txtContents">
																								<div class="sp1Company_contents_column_right_contents" style="margin-bottom: 20px;">
																									<H2>마스터자동차 차세대 관제시스템 구축</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_right_txtTitle">
																								<div class="sp1Company_contents_column_right_title" style="margin: 0px;">
																									<H2>2018.01</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_right_txtContents">
																								<div class="sp1Company_contents_column_right_contents">
																									<H2>더케이손해보험 모바일 보상시스템 구축</H2>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Company_History_contents" style="margin-top: -40;">
																		<div class="sp1Company_History_contents_sub">
																			<div class="sp1Company_History_contents_sub2">
																				<div class="sp1Company_contents_column_left_reverse">
																					<div class="sp1Company_contents_column_left_reverse_sub">
																						<div class="sp1Company_contents_column_left_reverse_sub2">
																							<div class="sp1Company_contents_column_left_reverse_sub3">
																								<div class="sp1Company_contents_column_left_reverse_sub4">
																									<div class="sp1Company_contents_column_left_reverse_sub5">	
																										<span></span>																						
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_left_reverse_txtTitle">
																								<div class="sp1Company_contents_column_left_reverse_title">
																									<H2>2017.11</H2>
																								</div>
																							</div>
																							<div class="sp1Company_contents_column_left_reverse_txtContents">
																								<div class="sp1Company_contents_column_left_reverse_contents" style="margin-bottom: 20px;">
																									<H2>(주)에스피원소프트 설립</H2>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Company_contents_column_right_reverse">
																					<div class="sp1Company_contents_column_left_sub">
																						<div class="sp1Company_contents_column_left_sub2">																					
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="sp1Company_History_mobile">
												<div class="sp1Company_History_mobile_sub">
													<div class="sp1Company_History_mobile_sub2">
														<div class="sp1Company_History_mobile_sub3">
															<div class="sp1Company_History_mobile_sub4">
																<div class="sp1Company_History_mobile_sub5">
																	<div class="sp1Company_History_mobile_Head">
																		<div class="sp1Company_History_mobile_Head_sub">
																			<h2>History</h2>
																		</div>
																	</div>
																	<div class="sp1Company_History_mobile_Year">
																		<div class="sp1Company_History_mobile_Year_sub">
																			<div class="sp1Company_History_mobile_Year_sub2">
																				<div class="sp1Company_History_mobile_Year_sub3">
																					<div class="sp1Company_mobile_YearBar" style="top: 68.5px; bottom: 98.5px;">
																						<div class="sp1Company_mobile_YearBar_Red" id="sp1Company_mobile_YearBar_Red" style="height: 0%;">																					
																						</div>
																					</div>
																					<div class="sp1Company_mobile_Year">
																						<div class="sp1Company_mobile_Year_sub">																					
																							<div class="sp1Company_mobile_Year_Icon">
																								<div class="sp1Company_mobile_Year_Icon_sub" id="mobile_circle2022">
																									<span>
																										<i aria-hidden="true" class="fas fa-circle"></i>
																									</span>
																								</div>
																							</div>
																							<div class="sp1Company_mobile_Year_Number">
																								<div class="sp1Company_mobile_Year_Number_sub">
																									<div class="sp1Company_mobile_Year_Number_sub2">
																										<div class="sp1Company_mobile_Year_Number_sub3">
																											<div class="sp1Company_mobile_Year_Number_sub4">
																												<div class="sp1Company_mobile_Year_Number_sub5" id="mobile_number2022">
																													2022
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>		
																						</div>
																						<div class="sp1Company_mobile_Year_sub" style="margin-top: 200px;">
																							<div class="sp1Company_mobile_Year_Icon">
																								<div class="sp1Company_mobile_Year_Icon_sub" id="mobile_circle2021">
																									<span>
																										<i aria-hidden="true" class="fas fa-circle"></i>
																									</span>
																								</div>
																							</div>
																							<div class="sp1Company_mobile_Year_Number">
																								<div class="sp1Company_mobile_Year_Number_sub">
																									<div class="sp1Company_mobile_Year_Number_sub2">
																										<div class="sp1Company_mobile_Year_Number_sub3">
																											<div class="sp1Company_mobile_Year_Number_sub4">
																												<div class="sp1Company_mobile_Year_Number_sub5" id="mobile_number2021">
																													2021
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																						<div class="sp1Company_mobile_Year_sub" style="margin-top: 200px;">
																							<div class="sp1Company_mobile_Year_Icon">
																								<div class="sp1Company_mobile_Year_Icon_sub" id="mobile_circle2020">
																									<span>
																										<i aria-hidden="true" class="fas fa-circle"></i>
																									</span>
																								</div>
																							</div>
																							<div class="sp1Company_mobile_Year_Number">
																								<div class="sp1Company_mobile_Year_Number_sub">
																									<div class="sp1Company_mobile_Year_Number_sub2">
																										<div class="sp1Company_mobile_Year_Number_sub3">
																											<div class="sp1Company_mobile_Year_Number_sub4">
																												<div class="sp1Company_mobile_Year_Number_sub5" id="mobile_number2020">
																													2020
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																						<div class="sp1Company_mobile_Year_sub" style="margin-top: 200px;">
																							<div class="sp1Company_mobile_Year_Icon">
																								<div class="sp1Company_mobile_Year_Icon_sub" id="mobile_circle2019">
																									<span>
																										<i aria-hidden="true" class="fas fa-circle"></i>
																									</span>
																								</div>																								
																							</div>
																							<div class="sp1Company_mobile_Year_Number">
																								<div class="sp1Company_mobile_Year_Number_sub">
																									<div class="sp1Company_mobile_Year_Number_sub2">
																										<div class="sp1Company_mobile_Year_Number_sub3">
																											<div class="sp1Company_mobile_Year_Number_sub4">
																												<div class="sp1Company_mobile_Year_Number_sub5" id="mobile_number2019">
																													2019
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																						<div class="sp1Company_mobile_Year_sub" style="margin-top: 200px;">
																							<div class="sp1Company_mobile_Year_Icon">
																								<div class="sp1Company_mobile_Year_Icon_sub" id="mobile_circle2018">
																									<span>
																										<i aria-hidden="true" class="fas fa-circle"></i>
																									</span>
																								</div>																								
																							</div>
																							<div class="sp1Company_mobile_Year_Number">
																								<div class="sp1Company_mobile_Year_Number_sub">
																									<div class="sp1Company_mobile_Year_Number_sub2">
																										<div class="sp1Company_mobile_Year_Number_sub3">
																											<div class="sp1Company_mobile_Year_Number_sub4">
																												<div class="sp1Company_mobile_Year_Number_sub5" id="mobile_number2018">
																													2018
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																						<div class="sp1Company_mobile_Year_sub" style="margin-top: 200px;">
																							<div class="sp1Company_mobile_Year_Icon">
																								<div class="sp1Company_mobile_Year_Icon_sub" id="mobile_circle2017">
																									<span>
																										<i aria-hidden="true" class="fas fa-circle"></i>
																									</span>
																								</div>																								
																							</div>
																							<div class="sp1Company_mobile_Year_Number">
																								<div class="sp1Company_mobile_Year_Number_sub">
																									<div class="sp1Company_mobile_Year_Number_sub2">
																										<div class="sp1Company_mobile_Year_Number_sub3">
																											<div class="sp1Company_mobile_Year_Number_sub4">
																												<div class="sp1Company_mobile_Year_Number_sub5" id="mobile_number2017">
																													2017
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Company_History_mobile_contents" style="margin-top: -1900px;">
																		<div class="sp1Company_History_mobile_contents_sub">
																			<div class="sp1Company_History_mobile_contents_sub2">
																				<div class="sp1Company_History_mobile_contents_sub3">
																					<div class="sp1Company_History_mobile_contents_sub4">
																						<div class="sp1Company_History_mobile_contents_sub5">
																							<div class="sp1Company_History_mobile_contents_sub5_div">
																								<div class="sp1Company_History_mobile_contents_sub5_div_sub">
																									<div class="sp1Company_History_mobile_contents_sub5_div_sub2">
																										<span></span>
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_title">
																								<div class="sp1Company_History_mobile_contents_sub5_title_sub">
																									<h2>2022.02</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_contents">
																								<div class="sp1Company_History_mobile_contents_sub5_contents_sub">
																									<h2>광주은행 디지털전략 Biz모델 대응개발​</h2>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Company_History_mobile_contents" style="margin-top: -1535px;">
																		<div class="sp1Company_History_mobile_contents_sub">
																			<div class="sp1Company_History_mobile_contents_sub2">
																				<div class="sp1Company_History_mobile_contents_sub3">
																					<div class="sp1Company_History_mobile_contents_sub4">
																						<div class="sp1Company_History_mobile_contents_sub5">
																							<div class="sp1Company_History_mobile_contents_sub5_div">
																								<div class="sp1Company_History_mobile_contents_sub5_div_sub">
																									<div class="sp1Company_History_mobile_contents_sub5_div_sub2">
																										<span></span>
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_title">
																								<div class="sp1Company_History_mobile_contents_sub5_title_sub">
																									<h2>2021.07</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_contents">
																								<div class="sp1Company_History_mobile_contents_sub5_contents_sub">
																									<h2>하나손해보험 차세대 보험업무시스템 구축​</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_title">
																								<div class="sp1Company_History_mobile_contents_sub5_title_sub">
																									<h2>2021.07</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_contents">
																								<div class="sp1Company_History_mobile_contents_sub5_contents_sub">
																									<h2>하나손해보험 원사인 연동 개발​</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_title">
																								<div class="sp1Company_History_mobile_contents_sub5_title_sub">
																									<h2>2021.01</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_contents">
																								<div class="sp1Company_History_mobile_contents_sub5_contents_sub">
																									<h2>광주은행 스마트뱅킹 시스템 재구축​</h2>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Company_History_mobile_contents" style="margin-top: -1170px;">
																		<div class="sp1Company_History_mobile_contents_sub">
																			<div class="sp1Company_History_mobile_contents_sub2">
																				<div class="sp1Company_History_mobile_contents_sub3">
																					<div class="sp1Company_History_mobile_contents_sub4">
																						<div class="sp1Company_History_mobile_contents_sub5">
																							<div class="sp1Company_History_mobile_contents_sub5_div">
																								<div class="sp1Company_History_mobile_contents_sub5_div_sub">
																									<div class="sp1Company_History_mobile_contents_sub5_div_sub2">
																										<span></span>
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_title">
																								<div class="sp1Company_History_mobile_contents_sub5_title_sub">
																									<h2>2020.05</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_contents">
																								<div class="sp1Company_History_mobile_contents_sub5_contents_sub">
																									<h2>광주은행 스마트뱅킹 확대 구축​</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_title">
																								<div class="sp1Company_History_mobile_contents_sub5_title_sub">
																									<h2>2020.02</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_contents">
																								<div class="sp1Company_History_mobile_contents_sub5_contents_sub">
																									<h2>OK저축은행 모바일뱅킹 구축​</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_title">
																								<div class="sp1Company_History_mobile_contents_sub5_title_sub">
																									<h2>2020.01</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_contents">
																								<div class="sp1Company_History_mobile_contents_sub5_contents_sub">
																									<h2>흥국화재 대표홈페이지 간편인증 서비스 구축​</h2>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Company_History_mobile_contents" style="margin-top: -805px;">
																		<div class="sp1Company_History_mobile_contents_sub">
																			<div class="sp1Company_History_mobile_contents_sub2">
																				<div class="sp1Company_History_mobile_contents_sub3">
																					<div class="sp1Company_History_mobile_contents_sub4">
																						<div class="sp1Company_History_mobile_contents_sub5">
																							<div class="sp1Company_History_mobile_contents_sub5_div">
																								<div class="sp1Company_History_mobile_contents_sub5_div_sub">
																									<div class="sp1Company_History_mobile_contents_sub5_div_sub2">
																										<span></span>
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_title">
																								<div class="sp1Company_History_mobile_contents_sub5_title_sub">
																									<h2>2019.08</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_contents">
																								<div class="sp1Company_History_mobile_contents_sub5_contents_sub">
																									<h2>광주은행 모바일(앱/웹) 접근성 준수 및 Design 개편​</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_title">
																								<div class="sp1Company_History_mobile_contents_sub5_title_sub">
																									<h2>2019.04</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_contents">
																								<div class="sp1Company_History_mobile_contents_sub5_contents_sub">
																									<h2>AXA손해보험 현장출동 관제시스템 구축</h2>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Company_History_mobile_contents" style="margin-top: -440px;">
																		<div class="sp1Company_History_mobile_contents_sub">
																			<div class="sp1Company_History_mobile_contents_sub2">
																				<div class="sp1Company_History_mobile_contents_sub3">
																					<div class="sp1Company_History_mobile_contents_sub4">
																						<div class="sp1Company_History_mobile_contents_sub5">
																							<div class="sp1Company_History_mobile_contents_sub5_div">
																								<div class="sp1Company_History_mobile_contents_sub5_div_sub">
																									<div class="sp1Company_History_mobile_contents_sub5_div_sub2">
																										<span></span>
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_title">
																								<div class="sp1Company_History_mobile_contents_sub5_title_sub">
																									<h2>2018.06</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_contents">
																								<div class="sp1Company_History_mobile_contents_sub5_contents_sub">
																									<h2>더케이손해보험 웹/모바일 홈페이지 재구축​</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_title">
																								<div class="sp1Company_History_mobile_contents_sub5_title_sub">
																									<h2>2018.04</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_contents">
																								<div class="sp1Company_History_mobile_contents_sub5_contents_sub">
																									<h2>마스터자동차 차세대 관제시스템 구축​</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_title">
																								<div class="sp1Company_History_mobile_contents_sub5_title_sub">
																									<h2>2018.01</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_contents">
																								<div class="sp1Company_History_mobile_contents_sub5_contents_sub">
																									<h2>더케이손해보험 모바일 보상시스템 구축</h2>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Company_History_mobile_contents" style="margin-top: -80px;">
																		<div class="sp1Company_History_mobile_contents_sub">
																			<div class="sp1Company_History_mobile_contents_sub2">
																				<div class="sp1Company_History_mobile_contents_sub3">
																					<div class="sp1Company_History_mobile_contents_sub4">
																						<div class="sp1Company_History_mobile_contents_sub5">
																							<div class="sp1Company_History_mobile_contents_sub5_div">
																								<div class="sp1Company_History_mobile_contents_sub5_div_sub">
																									<div class="sp1Company_History_mobile_contents_sub5_div_sub2">
																										<span></span>
																									</div>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_title">
																								<div class="sp1Company_History_mobile_contents_sub5_title_sub">
																									<h2>2017.11</h2>
																								</div>
																							</div>
																							<div class="sp1Company_History_mobile_contents_sub5_contents">
																								<div class="sp1Company_History_mobile_contents_sub5_contents_sub">
																									<h2>(주)에스피원소프트 설립​</h2>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var sp1Company_YearBar_Red = document.getElementById('sp1Company_YearBar_Red');
	var sp1Company_mobile_YearBar_Red = document.getElementById('sp1Company_mobile_YearBar_Red');

	var number2022 = document.getElementById('number2022');
	var number2021 = document.getElementById('number2021');
	var number2020 = document.getElementById('number2020');
	var number2019 = document.getElementById('number2019');
	var number2018 = document.getElementById('number2018');
	var number2017 = document.getElementById('number2017');

	var mobile_number2022 = document.getElementById('mobile_number2022');
	var mobile_number2021 = document.getElementById('mobile_number2021');
	var mobile_number2020 = document.getElementById('mobile_number2020');
	var mobile_number2019 = document.getElementById('mobile_number2019');
	var mobile_number2018 = document.getElementById('mobile_number2018');
	var mobile_number2017 = document.getElementById('mobile_number2017');

	var circle2022 = document.getElementById('circle2022');
	var circle2021 = document.getElementById('circle2021');
	var circle2020 = document.getElementById('circle2020');
	var circle2019 = document.getElementById('circle2019');
	var circle2018 = document.getElementById('circle2018');
	var circle2017 = document.getElementById('circle2017');

	var mobile_circle2022 = document.getElementById('mobile_circle2022');
	var mobile_circle2021 = document.getElementById('mobile_circle2021');
	var mobile_circle2020 = document.getElementById('mobile_circle2020');
	var mobile_circle2019 = document.getElementById('mobile_circle2019');
	var mobile_circle2018 = document.getElementById('mobile_circle2018');
	var mobile_circle2017 = document.getElementById('mobile_circle2017');

	function historyScroll() {
		var top = window.scrollY / 100;
		// 14 ~ 30

		if(top > 13 && top <= 14) {
			mobile_number2022.style.color = '#C6252A';
			mobile_number2021.style.color = '#CECECE';
			mobile_number2020.style.color = '#CECECE';
			mobile_number2019.style.color = '#CECECE';
			mobile_number2018.style.color = '#CECECE';
			mobile_number2017.style.color = '#CECECE';

			sp1Company_YearBar_Red.style.height = 0 + '%';
			sp1Company_mobile_YearBar_Red.style.height = 5 + '%';

			mobile_circle2022.style.backgroundColor = '#C6252A';
			mobile_circle2021.style.backgroundColor = '#F0F0F0';
			mobile_circle2020.style.backgroundColor = '#F0F0F0';
			mobile_circle2019.style.backgroundColor = '#F0F0F0';
			mobile_circle2018.style.backgroundColor = '#F0F0F0';
			mobile_circle2017.style.backgroundColor = '#F0F0F0';
		}else if(top > 14 && top <= 15) {
			number2022.style.color = '#C6252A';
			number2021.style.color = '#CECECE';
			number2020.style.color = '#CECECE';
			number2019.style.color = '#CECECE';
			number2018.style.color = '#CECECE';
			number2017.style.color = '#CECECE';

			mobile_number2022.style.color = '#C6252A';
			mobile_number2021.style.color = '#CECECE';
			mobile_number2020.style.color = '#CECECE';
			mobile_number2019.style.color = '#CECECE';
			mobile_number2018.style.color = '#CECECE';
			mobile_number2017.style.color = '#CECECE';
			
			sp1Company_YearBar_Red.style.height = 5 + '%';
			sp1Company_mobile_YearBar_Red.style.height = 5 + '%';			

			circle2022.style.backgroundColor = '#C6252A';
			circle2021.style.backgroundColor = '#F0F0F0';
			circle2020.style.backgroundColor = '#F0F0F0';
			circle2019.style.backgroundColor = '#F0F0F0';
			circle2018.style.backgroundColor = '#F0F0F0';
			circle2017.style.backgroundColor = '#F0F0F0';

			mobile_circle2022.style.backgroundColor = '#C6252A';
			mobile_circle2021.style.backgroundColor = '#F0F0F0';
			mobile_circle2020.style.backgroundColor = '#F0F0F0';
			mobile_circle2019.style.backgroundColor = '#F0F0F0';
			mobile_circle2018.style.backgroundColor = '#F0F0F0';
			mobile_circle2017.style.backgroundColor = '#F0F0F0';
		}else if(top > 15 && top <= 16) {
			sp1Company_YearBar_Red.style.height = 7 + '%';
			sp1Company_mobile_YearBar_Red.style.height = 7 + '%';

			circle2021.style.backgroundColor = '#F0F0F0';
			circle2020.style.backgroundColor = '#F0F0F0';
			circle2019.style.backgroundColor = '#F0F0F0';
			circle2018.style.backgroundColor = '#F0F0F0';
			circle2017.style.backgroundColor = '#F0F0F0';

			mobile_circle2021.style.backgroundColor = '#F0F0F0';
			mobile_circle2020.style.backgroundColor = '#F0F0F0';
			mobile_circle2019.style.backgroundColor = '#F0F0F0';
			mobile_circle2018.style.backgroundColor = '#F0F0F0';
			mobile_circle2017.style.backgroundColor = '#F0F0F0';
		}else if(top > 16 && top <= 17) {
			number2022.style.color = '#C6252A';
			number2021.style.color = '#CECECE';
			number2020.style.color = '#CECECE';
			number2019.style.color = '#CECECE';
			number2018.style.color = '#CECECE';
			number2017.style.color = '#CECECE';	

			mobile_number2022.style.color = '#C6252A';
			mobile_number2021.style.color = '#CECECE';
			mobile_number2020.style.color = '#CECECE';
			mobile_number2019.style.color = '#CECECE';
			mobile_number2018.style.color = '#CECECE';
			mobile_number2017.style.color = '#CECECE';	
			
			sp1Company_YearBar_Red.style.height = 13 + '%';
			sp1Company_mobile_YearBar_Red.style.height = 13 + '%';

			circle2021.style.backgroundColor = '#F0F0F0';
			circle2020.style.backgroundColor = '#F0F0F0';
			circle2019.style.backgroundColor = '#F0F0F0';
			circle2018.style.backgroundColor = '#F0F0F0';
			circle2017.style.backgroundColor = '#F0F0F0';	
			
			mobile_circle2021.style.backgroundColor = '#F0F0F0';
			mobile_circle2020.style.backgroundColor = '#F0F0F0';
			mobile_circle2019.style.backgroundColor = '#F0F0F0';
			mobile_circle2018.style.backgroundColor = '#F0F0F0';
			mobile_circle2017.style.backgroundColor = '#F0F0F0';	
		}else if(top > 17 && top <= 18) {
			number2022.style.color = '#C6252A';
			number2021.style.color = '#C6252A';
			number2020.style.color = '#CECECE';
			number2019.style.color = '#CECECE';
			number2018.style.color = '#CECECE';
			number2017.style.color = '#CECECE';

			mobile_number2022.style.color = '#C6252A';
			mobile_number2021.style.color = '#C6252A';
			mobile_number2020.style.color = '#CECECE';
			mobile_number2019.style.color = '#CECECE';
			mobile_number2018.style.color = '#CECECE';
			mobile_number2017.style.color = '#CECECE';
			
			sp1Company_YearBar_Red.style.height = 20 + '%';
			sp1Company_mobile_YearBar_Red.style.height = 20 + '%';

			circle2022.style.backgroundColor = '#C6252A';
			circle2021.style.backgroundColor = '#C6252A';
			circle2020.style.backgroundColor = '#F0F0F0';
			circle2019.style.backgroundColor = '#F0F0F0';
			circle2018.style.backgroundColor = '#F0F0F0';
			circle2017.style.backgroundColor = '#F0F0F0';

			mobile_circle2022.style.backgroundColor = '#C6252A';
			mobile_circle2021.style.backgroundColor = '#C6252A';
			mobile_circle2020.style.backgroundColor = '#F0F0F0';
			mobile_circle2019.style.backgroundColor = '#F0F0F0';
			mobile_circle2018.style.backgroundColor = '#F0F0F0';
			mobile_circle2017.style.backgroundColor = '#F0F0F0';
		}else if(top > 18 && top <= 19) {
			number2022.style.color = '#C6252A';
			number2021.style.color = '#C6252A';
			number2020.style.color = '#CECECE';
			number2019.style.color = '#CECECE';
			number2018.style.color = '#CECECE';
			number2017.style.color = '#CECECE';	

			mobile_number2022.style.color = '#C6252A';
			mobile_number2021.style.color = '#C6252A';
			mobile_number2020.style.color = '#CECECE';
			mobile_number2019.style.color = '#CECECE';
			mobile_number2018.style.color = '#CECECE';
			mobile_number2017.style.color = '#CECECE';	
			
			sp1Company_YearBar_Red.style.height = 27 + '%';
			sp1Company_mobile_YearBar_Red.style.height = 27 + '%';

			circle2020.style.backgroundColor = '#F0F0F0';
			circle2019.style.backgroundColor = '#F0F0F0';
			circle2018.style.backgroundColor = '#F0F0F0';
			circle2017.style.backgroundColor = '#F0F0F0';

			mobile_circle2020.style.backgroundColor = '#F0F0F0';
			mobile_circle2019.style.backgroundColor = '#F0F0F0';
			mobile_circle2018.style.backgroundColor = '#F0F0F0';
			mobile_circle2017.style.backgroundColor = '#F0F0F0';
		}else if(top > 19 && top <= 20) {
			number2022.style.color = '#C6252A';
			number2021.style.color = '#C6252A';
			number2020.style.color = '#CECECE';
			number2019.style.color = '#CECECE';
			number2018.style.color = '#CECECE';
			number2017.style.color = '#CECECE';	

			mobile_number2022.style.color = '#C6252A';
			mobile_number2021.style.color = '#C6252A';
			mobile_number2020.style.color = '#CECECE';
			mobile_number2019.style.color = '#CECECE';
			mobile_number2018.style.color = '#CECECE';
			mobile_number2017.style.color = '#CECECE';	
			
			sp1Company_YearBar_Red.style.height = 34 + '%';
			sp1Company_mobile_YearBar_Red.style.height = 34 + '%';

			circle2020.style.backgroundColor = '#F0F0F0';
			circle2019.style.backgroundColor = '#F0F0F0';
			circle2018.style.backgroundColor = '#F0F0F0';
			circle2017.style.backgroundColor = '#F0F0F0';

			mobile_circle2020.style.backgroundColor = '#F0F0F0';
			mobile_circle2019.style.backgroundColor = '#F0F0F0';
			mobile_circle2018.style.backgroundColor = '#F0F0F0';
			mobile_circle2017.style.backgroundColor = '#F0F0F0';
		}else if(top > 20 && top <= 21) {
			number2022.style.color = '#C6252A';
			number2021.style.color = '#C6252A';
			number2020.style.color = '#C6252A';
			number2019.style.color = '#CECECE';
			number2018.style.color = '#CECECE';
			number2017.style.color = '#CECECE';

			mobile_number2022.style.color = '#C6252A';
			mobile_number2021.style.color = '#C6252A';
			mobile_number2020.style.color = '#C6252A';
			mobile_number2019.style.color = '#CECECE';
			mobile_number2018.style.color = '#CECECE';
			mobile_number2017.style.color = '#CECECE';			
			
			sp1Company_YearBar_Red.style.height = 40 + '%';
			sp1Company_mobile_YearBar_Red.style.height = 40 + '%';

			circle2022.style.backgroundColor = '#C6252A';
			circle2021.style.backgroundColor = '#C6252A';
			circle2020.style.backgroundColor = '#C6252A';
			circle2019.style.backgroundColor = '#F0F0F0';
			circle2018.style.backgroundColor = '#F0F0F0';
			circle2017.style.backgroundColor = '#F0F0F0';

			mobile_circle2022.style.backgroundColor = '#C6252A';
			mobile_circle2021.style.backgroundColor = '#C6252A';
			mobile_circle2020.style.backgroundColor = '#C6252A';
			mobile_circle2019.style.backgroundColor = '#F0F0F0';
			mobile_circle2018.style.backgroundColor = '#F0F0F0';
			mobile_circle2017.style.backgroundColor = '#F0F0F0';
		}else if(top > 21 && top <= 22) {
			number2022.style.color = '#C6252A';
			number2021.style.color = '#C6252A';
			number2020.style.color = '#C6252A';
			number2019.style.color = '#CECECE';
			number2018.style.color = '#CECECE';
			number2017.style.color = '#CECECE';	

			mobile_number2022.style.color = '#C6252A';
			mobile_number2021.style.color = '#C6252A';
			mobile_number2020.style.color = '#C6252A';
			mobile_number2019.style.color = '#CECECE';
			mobile_number2018.style.color = '#CECECE';
			mobile_number2017.style.color = '#CECECE';	
			
			sp1Company_YearBar_Red.style.height = 46 + '%';
			sp1Company_mobile_YearBar_Red.style.height = 46 + '%';

			circle2019.style.backgroundColor = '#F0F0F0';
			circle2018.style.backgroundColor = '#F0F0F0';
			circle2017.style.backgroundColor = '#F0F0F0';

			mobile_circle2019.style.backgroundColor = '#F0F0F0';
			mobile_circle2018.style.backgroundColor = '#F0F0F0';
			mobile_circle2017.style.backgroundColor = '#F0F0F0';
		}else if(top > 22 && top <= 23) {
			number2022.style.color = '#C6252A';
			number2021.style.color = '#C6252A';
			number2020.style.color = '#C6252A';
			number2019.style.color = '#CECECE';
			number2018.style.color = '#CECECE';
			number2017.style.color = '#CECECE';	

			mobile_number2022.style.color = '#C6252A';
			mobile_number2021.style.color = '#C6252A';
			mobile_number2020.style.color = '#C6252A';
			mobile_number2019.style.color = '#CECECE';
			mobile_number2018.style.color = '#CECECE';
			mobile_number2017.style.color = '#CECECE';	
			
			sp1Company_YearBar_Red.style.height = 54 + '%';
			sp1Company_mobile_YearBar_Red.style.height = 54 + '%';

			circle2019.style.backgroundColor = '#F0F0F0';
			circle2018.style.backgroundColor = '#F0F0F0';
			circle2017.style.backgroundColor = '#F0F0F0';

			mobile_circle2019.style.backgroundColor = '#F0F0F0';
			mobile_circle2018.style.backgroundColor = '#F0F0F0';
			mobile_circle2017.style.backgroundColor = '#F0F0F0';
		}else if(top > 23 && top <= 24) {
			number2022.style.color = '#C6252A';
			number2021.style.color = '#C6252A';
			number2020.style.color = '#C6252A';
			number2019.style.color = '#C6252A';
			number2018.style.color = '#CECECE';
			number2017.style.color = '#CECECE';

			mobile_number2022.style.color = '#C6252A';
			mobile_number2021.style.color = '#C6252A';
			mobile_number2020.style.color = '#C6252A';
			mobile_number2019.style.color = '#C6252A';
			mobile_number2018.style.color = '#CECECE';
			mobile_number2017.style.color = '#CECECE';				

			sp1Company_YearBar_Red.style.height = 62 + '%';
			sp1Company_mobile_YearBar_Red.style.height = 61 + '%';

			circle2022.style.backgroundColor = '#C6252A';
			circle2021.style.backgroundColor = '#C6252A';
			circle2020.style.backgroundColor = '#C6252A';
			circle2019.style.backgroundColor = '#C6252A';
			circle2018.style.backgroundColor = '#F0F0F0';
			circle2017.style.backgroundColor = '#F0F0F0';

			mobile_circle2022.style.backgroundColor = '#C6252A';
			mobile_circle2021.style.backgroundColor = '#C6252A';
			mobile_circle2020.style.backgroundColor = '#C6252A';
			mobile_circle2019.style.backgroundColor = '#C6252A';
			mobile_circle2018.style.backgroundColor = '#F0F0F0';
			mobile_circle2017.style.backgroundColor = '#F0F0F0';
		}else if(top > 24 && top <= 25) {		
			number2022.style.color = '#C6252A';
			number2021.style.color = '#C6252A';
			number2020.style.color = '#C6252A';
			number2019.style.color = '#C6252A';
			number2018.style.color = '#CECECE';
			number2017.style.color = '#CECECE';	

			mobile_number2022.style.color = '#C6252A';
			mobile_number2021.style.color = '#C6252A';
			mobile_number2020.style.color = '#C6252A';
			mobile_number2019.style.color = '#C6252A';
			mobile_number2018.style.color = '#CECECE';
			mobile_number2017.style.color = '#CECECE';	
			
			sp1Company_YearBar_Red.style.height = 68 + '%';
			sp1Company_mobile_YearBar_Red.style.height = 68 + '%';

			circle2018.style.backgroundColor = '#F0F0F0';
			circle2017.style.backgroundColor = '#F0F0F0';

			mobile_circle2018.style.backgroundColor = '#F0F0F0';
			mobile_circle2017.style.backgroundColor = '#F0F0F0';
		}else if(top > 25 && top <= 26) {
			number2022.style.color = '#C6252A';
			number2021.style.color = '#C6252A';
			number2020.style.color = '#C6252A';
			number2019.style.color = '#C6252A';
			number2018.style.color = '#CECECE';
			number2017.style.color = '#CECECE';		
			
			mobile_number2022.style.color = '#C6252A';
			mobile_number2021.style.color = '#C6252A';
			mobile_number2020.style.color = '#C6252A';
			mobile_number2019.style.color = '#C6252A';
			mobile_number2018.style.color = '#CECECE';
			mobile_number2017.style.color = '#CECECE';	

			sp1Company_YearBar_Red.style.height = 76 + '%';
			sp1Company_mobile_YearBar_Red.style.height = 76 + '%';

			circle2018.style.backgroundColor = '#F0F0F0';
			circle2017.style.backgroundColor = '#F0F0F0';

			mobile_circle2018.style.backgroundColor = '#F0F0F0';
			mobile_circle2017.style.backgroundColor = '#F0F0F0';
		}else if(top > 26 && top <= 27) {
			number2022.style.color = '#C6252A';
			number2021.style.color = '#C6252A';
			number2020.style.color = '#C6252A';
			number2019.style.color = '#C6252A';
			number2018.style.color = '#C6252A';
			number2017.style.color = '#CECECE';
	
			mobile_number2022.style.color = '#C6252A';
			mobile_number2021.style.color = '#C6252A';
			mobile_number2020.style.color = '#C6252A';
			mobile_number2019.style.color = '#C6252A';
			mobile_number2018.style.color = '#C6252A';
			mobile_number2017.style.color = '#CECECE';

			sp1Company_YearBar_Red.style.height = 82 + '%';
			sp1Company_mobile_YearBar_Red.style.height = 81 + '%';

			circle2022.style.backgroundColor = '#C6252A';
			circle2021.style.backgroundColor = '#C6252A';
			circle2020.style.backgroundColor = '#C6252A';
			circle2019.style.backgroundColor = '#C6252A';
			circle2018.style.backgroundColor = '#C6252A';
			circle2017.style.backgroundColor = '#F0F0F0';

			mobile_circle2022.style.backgroundColor = '#C6252A';
			mobile_circle2021.style.backgroundColor = '#C6252A';
			mobile_circle2020.style.backgroundColor = '#C6252A';
			mobile_circle2019.style.backgroundColor = '#C6252A';
			mobile_circle2018.style.backgroundColor = '#C6252A';
			mobile_circle2017.style.backgroundColor = '#F0F0F0';
		}else if(top > 27 && top <= 28) {
			number2022.style.color = '#C6252A';
			number2021.style.color = '#C6252A';
			number2020.style.color = '#C6252A';
			number2019.style.color = '#C6252A';
			number2018.style.color = '#C6252A';
			number2017.style.color = '#CECECE';	

			mobile_number2022.style.color = '#C6252A';
			mobile_number2021.style.color = '#C6252A';
			mobile_number2020.style.color = '#C6252A';
			mobile_number2019.style.color = '#C6252A';
			mobile_number2018.style.color = '#C6252A';
			mobile_number2017.style.color = '#CECECE';	
			
			sp1Company_YearBar_Red.style.height = 92 + '%';
			sp1Company_mobile_YearBar_Red.style.height = 92 + '%';

			circle2017.style.backgroundColor = '#F0F0F0';

			mobile_circle2017.style.backgroundColor = '#F0F0F0';
		}else if(top > 28 && top <= 30) {
			number2022.style.color = '#C6252A';
			number2021.style.color = '#C6252A';
			number2020.style.color = '#C6252A';
			number2019.style.color = '#C6252A';
			number2018.style.color = '#C6252A';
			number2017.style.color = '#C6252A';	
			
			mobile_number2022.style.color = '#C6252A';
			mobile_number2021.style.color = '#C6252A';
			mobile_number2020.style.color = '#C6252A';
			mobile_number2019.style.color = '#C6252A';
			mobile_number2018.style.color = '#C6252A';
			mobile_number2017.style.color = '#CECECE';

			sp1Company_YearBar_Red.style.height = 100 + '%';
			sp1Company_mobile_YearBar_Red.style.height = 92 + '%';

			circle2022.style.backgroundColor = '#C6252A';
			circle2021.style.backgroundColor = '#C6252A';
			circle2020.style.backgroundColor = '#C6252A';
			circle2019.style.backgroundColor = '#C6252A';
			circle2018.style.backgroundColor = '#C6252A';
			circle2017.style.backgroundColor = '#C6252A';

			mobile_circle2022.style.backgroundColor = '#C6252A';
			mobile_circle2021.style.backgroundColor = '#C6252A';
			mobile_circle2020.style.backgroundColor = '#C6252A';
			mobile_circle2019.style.backgroundColor = '#C6252A';
			mobile_circle2018.style.backgroundColor = '#C6252A';
			mobile_circle2017.style.backgroundColor = '#F0F0F0';
		}else if(top > 30) {
			number2022.style.color = '#C6252A';
			number2021.style.color = '#C6252A';
			number2020.style.color = '#C6252A';
			number2019.style.color = '#C6252A';
			number2018.style.color = '#C6252A';
			number2017.style.color = '#C6252A';			
			
			mobile_number2022.style.color = '#C6252A';
			mobile_number2021.style.color = '#C6252A';
			mobile_number2020.style.color = '#C6252A';
			mobile_number2019.style.color = '#C6252A';
			mobile_number2018.style.color = '#C6252A';
			mobile_number2017.style.color = '#C6252A';
			
			sp1Company_YearBar_Red.style.height = 100 + '%';
			sp1Company_mobile_YearBar_Red.style.height = 100 + '%';

			circle2022.style.backgroundColor = '#C6252A';
			circle2021.style.backgroundColor = '#C6252A';
			circle2020.style.backgroundColor = '#C6252A';
			circle2019.style.backgroundColor = '#C6252A';
			circle2018.style.backgroundColor = '#C6252A';
			circle2017.style.backgroundColor = '#C6252A';

			mobile_circle2022.style.backgroundColor = '#C6252A';
			mobile_circle2021.style.backgroundColor = '#C6252A';
			mobile_circle2020.style.backgroundColor = '#C6252A';
			mobile_circle2019.style.backgroundColor = '#C6252A';
			mobile_circle2018.style.backgroundColor = '#C6252A';
			mobile_circle2017.style.backgroundColor = '#C6252A';
		}else if(top < 15 && top >= 14) {
			number2022.style.color = '#CECECE';
			number2021.style.color = '#CECECE';
			number2020.style.color = '#CECECE';
			number2019.style.color = '#CECECE';
			number2018.style.color = '#CECECE';
			number2017.style.color = '#CECECE';
			
			sp1Company_YearBar_Red.style.height = 0 + '%';

			circle2022.style.backgroundColor = '#F0F0F0';
			circle2021.style.backgroundColor = '#F0F0F0';
			circle2020.style.backgroundColor = '#F0F0F0';
			circle2019.style.backgroundColor = '#F0F0F0';
			circle2018.style.backgroundColor = '#F0F0F0';
			circle2017.style.backgroundColor = '#F0F0F0';
		}else if(top < 13) {
			number2022.style.color = '#CECECE';
			number2021.style.color = '#CECECE';
			number2020.style.color = '#CECECE';
			number2019.style.color = '#CECECE';
			number2018.style.color = '#CECECE';
			number2017.style.color = '#CECECE';
			
			mobile_number2022.style.color = '#CECECE';
			mobile_number2021.style.color = '#CECECE';
			mobile_number2020.style.color = '#CECECE';
			mobile_number2019.style.color = '#CECECE';
			mobile_number2018.style.color = '#CECECE';
			mobile_number2017.style.color = '#CECECE';
			
			sp1Company_YearBar_Red.style.height = 0 + '%';
			sp1Company_mobile_YearBar_Red.style.height = 0 + '%';

			circle2022.style.backgroundColor = '#F0F0F0';
			circle2021.style.backgroundColor = '#F0F0F0';
			circle2020.style.backgroundColor = '#F0F0F0';
			circle2019.style.backgroundColor = '#F0F0F0';
			circle2018.style.backgroundColor = '#F0F0F0';
			circle2017.style.backgroundColor = '#F0F0F0';

			mobile_circle2022.style.backgroundColor = '#F0F0F0';
			mobile_circle2021.style.backgroundColor = '#F0F0F0';
			mobile_circle2020.style.backgroundColor = '#F0F0F0';
			mobile_circle2019.style.backgroundColor = '#F0F0F0';
			mobile_circle2018.style.backgroundColor = '#F0F0F0';
			mobile_circle2017.style.backgroundColor = '#F0F0F0';
		}
	};

	circle2022.style.backgroundColor = '#C6252A';
	circle2021.style.backgroundColor = '#C6252A';
	circle2020.style.backgroundColor = '#C6252A';
	circle2019.style.backgroundColor = '#C6252A';
	circle2018.style.backgroundColor = '#C6252A';
	circle2017.style.backgroundColor = '#C6252A';

	mobile_circle2022.style.backgroundColor = '#C6252A';
	mobile_circle2021.style.backgroundColor = '#C6252A';
	mobile_circle2020.style.backgroundColor = '#C6252A';
	mobile_circle2019.style.backgroundColor = '#C6252A';
	mobile_circle2018.style.backgroundColor = '#C6252A';
	mobile_circle2017.style.backgroundColor = '#C6252A';

	window.addEventListener('scroll', () => { 	
		historyScroll();
	});
</script>
<%- include('./common/footer.ejs') %>