<%- include('../common/header.ejs') %>

<title>채용정보 - 에스피원소프트</title>
<div class="sp1TopContents">
	<div class="sp1Top">
		<div class="sp1Top_sub">
			<div class="sp1Top_sub2">
				<div class="sp1Top_sub3">
					<div class="sp1Top_sub4">
						<div class="sp1Top_sub5">
							<div class="sp1Top_sub6">
								<div class="sp1Top_sub7">
									<div class="sp1Top_sub8">
										<div class="sp1Top_sub9">
											<div class="sp1Top_sub10_recruit">
												<div class="sp1Top_sub11">
													<div class="sp1Top_sub12">
														<div class="sp1Top_sub13">
															<div class="sp1Top_sub14">
																<div class="sp1Top_sub15">
																	<div class="sp1Top_sub15">
																		<div class="sp1Top_sub16">
																			<div class="sp1Top_sub17">
																				<h1>채용정보</h1>
																			</div>												
																		</div>
																		<div class="sp1Top_sub18">
																			<div class="sp1Top_sub19">
																				<div class="sp1Top_sub20">
																					<div class="sp1Top_sub21">
																						<div class="sp1Top_sub22">
																							<div class="sp1Top_sub23">
																								<div class="sp1Top_sub24">
																									<a href="/" class="sub24_Link">에스피원소프트</a>																				
																								</div>	
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/" class="sub24_Link">인재채용</a>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/" class="sub24_Link">채용정보</a>																				
																								</div>																			
																							</div>																					
																						</div>	
																					</div>																					
																				</div>																					
																			</div>												
																		</div>																															
																	</div>													
																</div>												
															</div>												
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sp1Solution">
	<div class="sp1Solution_sub">
		<div class="sp1Solution_sub2">
			<div class="sp1Solution_sub3">
				<div class="sp1Solution_sub4">
					<div class="sp1Solution_sub5">
						<div class="sp1Solution_sub6">
							<div class="sp1Solution_sub7">
								<div class="sp1Solution_sub8">
									<div class="sp1Solution_sub9">
										<div class="sp1Solution_sub10">
											<div class="sp1Solution_sub10_Head">
												<div class="sp1Solution_sub10_Head_sub">
													<div class="sp1Solution_sub10_Head_sub2">
														<div class="sp1Solution_sub10_Head_sub3">
															<div class="sp1Solution_sub10_Head_sub4">
																<div class="sp1Solution_sub10_Head_sub5">
																	<div class="sp1Solution_sub10_Head_sub5_sub">
																		<div class="sp1Solution_sub10_Head_sub5_sub_sub">
																			<div class="sp1Solution_sub10_Head_sub5_sub_sub2">
																				<div class="sp1Solution_sub10_Head_sub5_sub_sub3">																
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Head_sub5_sub2">
																		<div class="sp1Recruit_Head_Title">
																			<h1>(주)에스피원소프트
																				<br class="mobile-enter">
																				채용정보
																			</h1>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Head_sub5_sub3">
																		<div class="sp1Recruit_Head_Contents">
																			<h6>
																				(주)에스피원소프트는 스마트한
                                                                                <br class="mobile-enter">
                                                                                생각과
                                                                                <br class="tablet-enter">
                                                                                협력 의식을 가진
                                                                                <br class="mobile-enter">
                                                                                여러분을 기다리고 있습니다.
																			</h6>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="sp1Solution_sub10_Center">
												<div class="sp1Solution_sub10_Center_sub">
													<div class="sp1Solution_sub10_Center_sub2">
														<div class="sp1Solution_sub10_Center_sub3">
															<div class="sp1Solution_sub10_Center_sub4">
																<div class="sp1Solution_sub10_Center_sub5">
																	<div class="sp1Solution_sub10_Center_sub5_sub">
																		<div class="sp1Solution_sub10_Center_sub5_sub_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub_sub2">
																				<div class="sp1Solution_sub10_Center_sub5_sub_sub3">																	
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub2">
																		<div class="sp1Solution_sub10_Center_sub5_sub2_sub">
																			<h2>채용단계</h2>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub3">
																		<div class="sp1Solution_sub10_Center_sub5_sub3_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub3_sub2">
																				<span></span>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub4">
																		<div class="sp1Solution_sub10_Center_sub5_sub4_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub4_sub2">
																				<div class="sp1Recruit_welfare_div">
																					<div class="sp1Recruit_employInfo_step">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Solution_sub10_Center_sub5_sub4_sub8">
																										<div class="employInfo_circle">
																											<div class="employInfo_circle_div1">
																												<h5>
																													1차
																													<br>
																													서류전형
																												</h5>
																											</div>
																											<div class="employInfo_circle_div2">
																												<h5>
																													합격자에 한해
																													<br>
																													면접일시 개별통보
																												</h5>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Recruit_welfare_div">
																					<div class="sp1Recruit_employInfo_step">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Solution_sub10_Center_sub5_sub4_sub8">
																										<div class="employInfo_circle">
																											<div class="employInfo_circle_div1">
																												<h5>
																													2차
																													<br>
																													개별면접
																												</h5>
																											</div>
																											<div class="employInfo_circle_div2">
																												<h5>
																													면접 시 제출자료 또는
																													<br>
																													포트폴리오 지참
																												</h5>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Recruit_welfare_div">
																					<div class="sp1Recruit_employInfo_step">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Solution_sub10_Center_sub5_sub4_sub8">
																										<div class="employInfo_circle">
																											<div class="employInfo_circle_div1">
																												<h5>
																													3차
																													<br>
																													임원진면접
																												</h5>
																											</div>
																											<div class="employInfo_circle_div2">
																												<h5>
																													합격자에 한해
																													<br>
																													면접일시 개별통보
																												</h5>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Recruit_welfare_div">
																					<div class="sp1Recruit_employInfo_step">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Solution_sub10_Center_sub5_sub4_sub8">
																										<div class="employInfo_circle_red">
																											<div class="employInfo_circle_red_div1">
																												<h5>
																													채용확정
																												</h5>
																											</div>
																											<div class="employInfo_circle_red_div2">
																												<h5>
																													별도 연락을 통해 안내
																												</h5>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Recruit_employInfo_tel">
																		<div class="sp1Recruit_employInfo_tel_sub">
																			<h3>문의</h3>
																			<div class="sp1Recruit_employInfo_tel_sub2">
																				<div class="sp1Recruit_employInfo_icon">
																					<img src="/images/icon_17_1.png">																		
																				</div>
																				<div class="sp1Recruit_employInfo_contents">
																					<h5>
																						Tel : 070-8836-1108 | FAX : 050-8090-0718
																					</h5>																			
																				</div>
																			</div>
																			<div class="sp1Recruit_employInfo_tel_sub2">
																				<div class="sp1Recruit_employInfo_icon">
																					<img src="/images/icon_16_1.png">																			
																				</div>
																				<div class="sp1Recruit_employInfo_contents">
																					<h5>
																						help@sp1soft.com
																					</h5>																			
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub5">
																		<div class="sp1Solution_sub10_Center_sub5_sub5_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub5_sub2">
																				<span></span>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Recruit_employInfo_tel">
																		<div class="sp1Recruit_employInfo_tel_sub">
																			<h3>모집분야</h3>
																			<div class="sp1Recruit_employInfo_area">
																				<div class="sp1Recruit_employInfo_area_div1">
																					<div class="sp1Recruit_employInfo_area_div1_sub">
																						<div class="sp1Recruit_employInfo_area_div1_sub2" id="employInfo_web">
																							<h5>서버/웹 개발</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div1_sub3" id="employInfo_app">
																							<h5>앱 개발</h5>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Recruit_employInfo_area_div2" id="recruitArea1">
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>모집부문</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>경력/신입 서버, 웹 개발자</h5>
																						</div>
																					</div>
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>모집인원</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>00명</h5>
																						</div>
																					</div>
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>자격요건</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>
																								학력: 무관
																								<br>
																								성별: 무관
																								<br>
																								경력: 프로젝트 유경험자(1년 이상)
																								<br>
																								신입: 웹/서버 개발에 관심과 열정이 있는 분
																							</h5>
																						</div>
																					</div>
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>담당업무</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>서버/웹 개발</h5>
																						</div>
																					</div>
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>우대사항</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>
																								java, jsp, jquery 개발 능숙자
																								<br>
																								html, javascript, css 개발 능숙자
																								<br>
																								oracle, my-sql, ms sql 등 개발 경험 및 DBMS 설계 가능자
																								<br>
																								spring, 전자정부 등 프레임워크 경험자
																								<br>
																								Restful API 개발 경험자
																								<br>
																								유닉스, 리눅스 등 시스템 이해도가 높으신 분
																								<br>
																								관련 자격증 소지자(정보처리 등)
																							</h5>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Recruit_employInfo_area_div2 hiddenClass" id="recruitArea2">
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>모집부문</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>경력/신입 앱 개발자</h5>
																						</div>
																					</div>
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>모집인원</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>00명</h5>
																						</div>
																					</div>
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>자격요건</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>
																								학력: 무관
																								<br>
																								성별: 무관
																								<br>
																								경력: 프로젝트 유경험자(1년 이상)
																								<br>
																								신입: 앱 개발에 관심과 열정이 있는 분
																							</h5>
																						</div>
																					</div>
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>담당업무</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>안드로이드/iOS 앱 개발</h5>
																						</div>
																					</div>
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>우대사항</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>
																								앱 개발 유경험자
																								<br>
																								데이터베이스 프로그래밍 유경험자
																								<br>
																								관련 자격증 소지자(정보처리 등)
																								<br>
																							</h5>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub5">
																		<div class="sp1Solution_sub10_Center_sub5_sub5_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub5_sub2">
																				<span></span>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('../common/footer.ejs') %>
<script>
	var employInfo_web = document.getElementById('employInfo_web');
	var employInfo_app = document.getElementById('employInfo_app');
	var recruitArea1 = document.getElementById('recruitArea1');
	var recruitArea2 = document.getElementById('recruitArea2');

	employInfo_web.addEventListener("click", function() {
		employInfo_web.className = 'sp1Recruit_employInfo_area_div1_sub2';
		employInfo_app.className = 'sp1Recruit_employInfo_area_div1_sub3';
		recruitArea1.className = 'sp1Recruit_employInfo_area_div2';
		recruitArea2.className = 'sp1Recruit_employInfo_area_div2 hiddenClass';
	});
	employInfo_app.addEventListener("click", function() {
		employInfo_web.className = 'sp1Recruit_employInfo_area_div1_sub3';
		employInfo_app.className = 'sp1Recruit_employInfo_area_div1_sub2';
		recruitArea1.className = 'sp1Recruit_employInfo_area_div2 hiddenClass';
		recruitArea2.className = 'sp1Recruit_employInfo_area_div2';
	});
</script>